/vendor/*

/tmp/cache/models/myapp*
/tmp/cache/persistent/myapp*
/tmp/cache/persistent/views/*
/tmp/sessions/*
/logs/*.log

/server/vagrant/.vagrant/*
/server/ansible/vagrant.retry
/tmp/debug_kit.sqlite
webroot/js/rvc/node_modules/*
