.w50px {
	width: 50px !important;
}
.w100px {
	width: 100px !important;
}
.w150px {
	width: 150px !important;
}
.w200px {
	width: 200px !important;
}
.w250px {
	width: 250px !important;
}
.w300px {
	width: 300px !important;
}

.control-label {
	padding-top: 5px !important;
}

span.switchery.switchery-default {
	margin-top: -10px;
	margin-bottom: -10px;
	width: 65px;

}

.div-admin-flag {
	margin-top: 20px;
}

th {
	background-color: #E8E8E8;
	vertical-align: middle !important;
}

thead > tr > th {
	text-align: center !important;
}